<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970862035252-v8chnennim855fij91fmje3j682j20nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970862035252-v8chnennim855fij91fmje3j682j20nk</string>
	<key>API_KEY</key>
	<string>AIzaSyAqPQFYPSkFKQJwIFen_KJGQVPDnBc6Skw</string>
	<key>GCM_SENDER_ID</key>
	<string>970862035252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sapere4ude.Yeogigaja</string>
	<key>PROJECT_ID</key>
	<string>yeogigaja-d19f1</string>
	<key>STORAGE_BUCKET</key>
	<string>yeogigaja-d19f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970862035252:ios:91060a5624e442858d6561</string>
	<key>DATABASE_URL</key>
	<string>https://yeogigaja-d19f1.firebaseio.com</string>
</dict>
</plist>