<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095242886306-cth2om1laiprmk99b77g0omrh9qtpjlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095242886306-cth2om1laiprmk99b77g0omrh9qtpjlj</string>
	<key>API_KEY</key>
	<string>AIzaSyCMoBXeNzVOW2SmvtVB4IZvaCQMftRUE5I</string>
	<key>GCM_SENDER_ID</key>
	<string>1095242886306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sapere4ude.Yeogigaja</string>
	<key>PROJECT_ID</key>
	<string>yeogigaja</string>
	<key>STORAGE_BUCKET</key>
	<string>yeogigaja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095242886306:ios:f6cc76607e2b6c19adbbfb</string>
	<key>DATABASE_URL</key>
	<string>https://yeogigaja.firebaseio.com</string>
</dict>
</plist>